# Build
/build/
/out/
/cmake-build-*/
/CMakeFiles/
/CMakeCache.txt
/*.cmake

# Visual Studio
.vs/
*.vcxproj*
*.sln
*.user
*.filters

# Binaries
*.exe
*.dll
*.lib
*.obj
*.pdb

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Assets cache (на будущее)
assets/cache/